doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="data/ascii.js")
    script(type="text/javascript" src="js/jquery-1.7.2.js")
    script(type="text/javascript" src="data/raven.js")
    script(type="text/javascript" src="data/invaders.js")
  body
    block content